html{
  font-family: helvetica;
  text-align: center;
}
h1 {
  color:white;
  font-size:70px;
}
.header {
  font-size: 18px;
  color:white;
  background-image: url("C:/Users/cristina.babonea/projects/broadway/resources/images/the-flatiron-building.png");
}
h2{
  font-size: 32px;
}
p{
  font-size: 14px;
  font-weight: normal;
}
h3 {
  font-size: 23px;
}
.design {
  font-size: 23px;
  color:white;
  background-image:url("C:/Users/cristina.babonea/projects/broadway/resources/images/the-flatiron-building.png");
}
.footer{
  background-color: dimgray;
  font-size: 11px;
  color:white;
  text-align: left;
}
